.header-bar {
    width: 100%;
    height: 63px;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: rgb(255, 72, 83);
    box-shadow: 0 2px 5px #AAA;
    padding: 15px 15px;
    z-index: 1000;

    color: white;
}

.header-bar > h1,
.header-bar > h1 > a {
    color: white !important;
    cursor: pointer;
}

.header-bar-buttons {
    position: absolute;
    top: 20px;
    right: 25px;
}

.header-bar-buttons > .button {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.header-bar-buttons > .button:hover {
    font-weight: bold;
}

.header-bar-buttons > .button > a, .header-bar-buttons > .button > a:hover {
    color: white;
}